<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
        <script th:src="@{/home.js}"></script>
    </head>
    <body>

        <div class="center">
            <a th:href="@{/}">Home</a> <a th:href="@{/users}">Users</a>

            <h1> Register user </h1>
        </div>
        <div class="container">
            <form th:action="@{/}" method="post" name="registration">
                Etunimi <input type="text" name="name"/> 
                <p></p>
                Sukunimi <input type="text" name="surname"/>
                <p></p>
                Ikä <input type="text" name="age"/>
                <p></p>
                <div class="radiobuttons">
                    <input type="radio" name="gender">Nainen</input> <input type="radio" name="gender">Mies</input>
                </div>
                <p></p>
                <input type="submit" onclick="return validateForm()"/>
            </form>
        </div>
    </body>
</html>
