<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registered users</title>
        <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
        <script th:src="@{/users.js}"></script>
    </head>
    <body>
        <div class="center">
            <a th:href="@{/}">Home</a> <a href="@{/users}">Users</a>
            <h1> Users list</h1>
        </div>
        <div class="container">
            <ul>
                <li th:each="indeksi : ${userList}">
                    <div class="list" th:text="${indeksi}" id="list"/> 
                    <form th:action="@{/user}" method="GET"> 
                        <button name="id" th:value="${indeksi.id}">Edit</button> 
                    </form>
                    <form th:action="@{/users}" method="POST">
                        <button name="id" th:value="${indeksi.id}">delete</button>
                    </form>
                    <p></p>
                </li>
            </ul>
        </div>
    </body> 
</html>
